<!DOCTYPE html>
<html>
<body>
<div class="container">
<img width="50" height="50" src="https://indexmod.github.io/encyclopedia/indexmod-eye.gif">
</div>
<br>
  <p>This is <span style="color:green;">https</span><span style="color:silver;">://</span><a href="index">Indexmod</a><span style="color:silver;">.github.io/</span><br><a href="index">encyclopedia</a>/<br>{{page.permalink}}</p>
<hr>
<br>
<p><a href="edit">How to edit</a></p>
<p><a href="qa">Question → answer</a></p>
<p><a href="https://www.facebook.com/groups/1827319437559156/about/">Indexmod on Facebook</a></p>  
</body>
</html>
