<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
<head>
<head>
	{% include meta.html %}
	{% include facebook.html %}
	{% include favicon.html %}
	{% include google.html %}
	</head>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="container">
				<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style="width:auto;height:auto;border:0;"></a>
			</div>
		<span class="string"><marquee behavior="scroll" scrollamount="10" direction="left" height="80px" loop="-1" style="border:0px" width="90%" onmouseover="this.stop();" onmouseout="this.start();">{% assign mypages = site.pages | sort: "order" %} {% for page in mypages %}<div class="tooltip"><a href="{{page.url|absolute_url}}">{{ page.shortname }}</a>
			  <span class="tooltiptext">{{ page.content | page.indexmod }}</span>
			</div>
		</header>
		<section>
			{{ content }}
		</section>
		<footer>
			{% include footer-cover.html %}
		</footer>
	</div>
		<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

</body>
</html>
