<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
<head>
	<meta charset="utf-8">
	<meta content="HnrT2NSmVB_2fsV9rS25TEMeTKJSkBfqer0xKAkTBak" name="google-site-verification">
	<meta content="chrome=1" http-equiv="X-UA-Compatible">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
	<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="/manifest.json" rel="manifest">
	<meta content="#ffffff" name="msapplication-TileColor">
	<meta content="/ms-icon-144x144.png" name="msapplication-TileImage">
	<meta content="#ffffff" name="theme-color">
	<style>
	@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
	</style>
	<meta content="bd6cadbefee34d7e" name="yandex-verification">
	<title>{{ site.title }}</title>
</head>
<body>
	{% seo %}
	<link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
	<meta content="width=device-width" name="viewport"><!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<div class="wrapper">
		<header>
			<div class="container">
				<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style="width:auto;height:auto;border:0;"></a>
<br>
			</div>
			<marquee behavior="scroll" scrollamount="1" direction="down" height="40px" loop="-1" style="border:0px" width="150px">{% assign mypages = site.pages | sort: "order" %} {% for page in mypages %} <span class="intro"><a href="{{page.url|absolute_url}}">{{ page.shortname }} {{ page.content | number_of_words }}</a></span> {% endfor %}</marquee>
		</header>
		<section>
			{{ content }}
		</section>
		<footer>
			{% include footer-cover.html %}
		</footer>
	</div>
	<script src="{{%20'/assets/js/scale.fix.js'%20|%20relative_url%20}}">
	</script> {% if site.google_analytics %} <!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112478299-1">
	</script>
	<script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());
	      gtag('config', 'UA-112478299-1');
	</script> <!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	   (function (d, w, c) {
	       (w[c] = w[c] || []).push(function() {
	           try {
	               w.yaCounter48876245 = new Ya.Metrika({
	                   id:48876245,
	                   clickmap:true,
	                   trackLinks:true,
	                   accurateTrackBounce:true,
	                   webvisor:true
	               });
	           } catch(e) { }
	       });

	       var n = d.getElementsByTagName("script")[0],
	           s = d.createElement("script"),
	           f = function () { n.parentNode.insertBefore(s, n); };
	       s.type = "text/javascript";
	       s.async = true;
	       s.src = "https://mc.yandex.ru/metrika/watch.js";

	       if (w.opera == "[object Opera]") {
	           d.addEventListener("DOMContentLoaded", f, false);
	       } else { f(); }
	   })(document, window, "yandex_metrika_callbacks");
	</script> <noscript>
	<div><img alt="" src="https://mc.yandex.ru/watch/48876245" style="position:absolute; left:-9999px;"></div></noscript> <!-- /Yandex.Metrika counter -->
	 {% endif %}
</body>
</html>
