<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
<head>
	<meta charset="utf-8">
	<meta content="HnrT2NSmVB_2fsV9rS25TEMeTKJSkBfqer0xKAkTBak" name="google-site-verification">
	<meta content="chrome=1" http-equiv="X-UA-Compatible">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
	<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="/manifest.json" rel="manifest">
	<meta content="#ffffff" name="msapplication-TileColor">
	<meta content="/ms-icon-144x144.png" name="msapplication-TileImage">
	<meta content="#ffffff" name="theme-color">
	<meta name="yandex-verification" content="20004fe24d47ca4d" />

	<style>
	@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
	</style>
	<meta content="bd6cadbefee34d7e" name="yandex-verification">
	<title>{{ site.title }}</title>

	<!-- Indexmod blockchainpedia browser and facebook presentation -->

	<meta content="{{page.title}} | {{page.shortname}} ({{ page.content | number_of_words }})" property="og:title">
	<meta content="{{site.url}}/images/{{page.permalink}}.jpg" property="og:image">
	<meta content="Indexmod" property="og:site_name">
	<meta content="Indexmod is a fashion and art blockchainpedia. Updated on {{ site.time | date_to_long_string }}. This is an article of the “{{page.title}}” at {{site.title}}" property="og:description">
	<meta property="fb:app_id" content="173711889938607" />
	{% include google.html %}
</head>
<body>
	{% seo %}
	<link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<div class="wrapper">
		<header>
			<div class="container">
				<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style="width:auto;height:auto;border:0;"></a>
			</div>
			<br>
			<br>
		<span class="string"><marquee behavior="scroll" scrollamount="10" direction="left" height="80px" loop="-1" style="border:0px" width="90%" onmouseover="this.stop();" onmouseout="this.start();">{% assign mypages = site.pages | sort: "order" %} {% for page in mypages %}<div class="tooltip"><a href="{{page.url|absolute_url}}">{{ page.shortname }}</a>
			  <span class="tooltiptext">{{ page.content | number_of_words }}</span>
			</div>
			{% endfor %}
		</marquee>
		</header>
		<section>
			{{ content }}
		</section>
		<footer>
			{% include footer-cover.html %}
		</footer>
	</div>
	 {% endif %}
</body>
</html>
