<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
	<head>
		<title>
			{% include shortname.html %} | {% include indexmod.html %}
		</title>
		<meta content="Indexmod blockchainpedia" name="description">
		<meta charset="utf-8">
		<meta content="chrome=1">
		<!-- Indexmod blockchainpedia browser and facebook presentation -->
		<meta content="{{site.url}}/images/{{page.permalink}}.html" property=
		"og:url">
		<meta content="{{page.pagetype}}" property="og:type">
		<meta content="{% include shortname.html %} {% include indexmod.html %}" property="og:title">
		<meta content="{{site.url}}/images/{{page.permalink}}.jpg" property="og:image">
		<meta content="Indexmod" property="og:site_name">
		<meta content=
		"Indexmod. Updated {{ site.time | date_to_long_string }}. An article of the “{{page.title}}” at {{site.title}}"
		property="og:description">
		<meta content="173711889938607" property="fb:app_id">
		<link href=
		"{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
		rel="stylesheet">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<style>
		@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
		</style>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="container">
					<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style=
					"width:auto;height:auto;border:0;"></a><br>
				</div>
			</header>

			<section>
				<h1>
					{{page.title}}
				</h1>
				<br>
				<br>
				<br>

				<div>
					<p>
						<a class="one" href=
						"https://www.facebook.com/sharer/sharer.php?u=https%3A//indexmod.github.io/encyclopedia/{{page.permalink}}">
						<u>Sh</u>are</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="one" href=
						"https://prose.io/#indexmod/encyclopedia/edit/master/{{page.path}}"><u>Ed</u>it</a>
					</p>
				</div>
				{% include topblock.html %} {{ content | toc }}
				<div>
					<p>
						<a class="one" href=
						"https://www.facebook.com/sharer/sharer.php?u=https%3A//indexmod.github.io/encyclopedia/{{page.permalink}}">
						<u>Sh</u>are</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="one" href=
						"https://prose.io/#indexmod/encyclopedia/edit/master/{{page.path}}"><u>Ed</u>it</a>
					</p>
				</div>

				<p class="wrapper">
					{{ site.time | date: "%Y" }} © Indexmod
				</p>
			</section>
			<br>

			<footer>
				{% include footer-1.html %} {% include footer-1.html %}
			</footer>
		</div>
	</body>
</html>
