<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
<head>
{% include meta.html %}
{% include facebook.html %}
{% include favicon.html %}
{% include google.html %}
</head>
<body>
<div class="wrapper">
<header>
<div class="container">
<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style="width:auto;height:auto;border:0;"></a><br>
</div>
</header>
<section>
				<h1>
					{{page.title}}
				</h1>
				<div>
						{% include share-edit.html %}
				</div>
				{% include topblock.html %} {{ content }}
				<div>
						{% include share-edit.html %}
				</div>
				<p>
					{{ site.time | date: "%Y" }} © Indexmod
				</p>
			</section>
			<footer>
				{% include footer-1.html %} {% include footer-2.html %}
			</footer>
		</div>
	</body>
</html>
